
#custom-container{
  min-height: 600px;
    width: 860px;
    position: absolute;
    right: 90px;
    top:70px;
}
.custom-table {
  /* width: 100%; */
  border-collapse: collapse;
}
.table-title {
  background-color: bisque;
}
.custom-table td {
  padding: 3px;
  border: 1px solid #ccc;
  text-align: center;
}

.custom-table .add_process,
.custom-table .delete_process {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.custom-table .process_name {
  font-weight: bold;
}

.custom-table .process_times,
.custom-table .cost_times {
  text-align: center;
}
.process_times_input {
  width: 70px;
}
/* 隱藏input 難看的箭頭*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*====================*/
/* bar */
.col-content {
  height: 150px;
  width: 240px;
}
/* bar */
.progress_bar {
  background-color: rgb(192, 192, 192);
  width: 200px;
  border-radius: 15px;
  height: 25px;
  margin-bottom: 10px;
}

.current_working_times {
  background-color: rgb(116, 194, 92);
  /* color: white; */
  /*     padding: 1%; */
  text-align: right;
  font-size: 18px;
  border-radius: 15px;
  height: 100%;
}

.bar {
  width: 70%;
}
.line1 {
  background-color: rgb(159, 198, 231);
}
.line2 {
  background-color: rgb(123, 209, 72);
}
.line3 {
  background-color: rgb(246, 145, 178);
}
/* .barContent{
  text-align: center;
} */

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* 半透明黑色 */
  z-index: 9999;
  /* 確保遮罩在最上層 */
  display: none;
  /* 初始隱藏 */
}

#loader {
  position: fixed;
  width: 860px;
  height: 600px;
  right: 90px;
  top: 70px;
  font-size: 100px;
  text-align: center;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
    /* 初始隱藏 */
}
