
#custom-container{
  min-height: 600px;
    width: 800px;
    position: absolute;
    right: 90px;
    top:70px;
}
.custom-table {
  /* width: 100%; */
  border-collapse: collapse;
}
.table-title {
  background-color: bisque;
}
.custom-table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.custom-table .add_process,
.custom-table .delete_process {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.custom-table .process_name {
  font-weight: bold;
}

.custom-table .process_times,
.custom-table .cost_times {
  text-align: center;
}
.process_times_input {
  width: 70px;
}
/* 隱藏input 難看的箭頭*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*====================*/
/* bar */
.progress_bar{
  background-color: rgb(192, 192, 192);
    width: 80%;
    border-radius: 15px;
    height: 25px;
    width: 300px;
}
.current_working_times{
  background-color: rgb(116, 194, 92);
    color: white;
    /* padding: 1%; */
    text-align: right;
    font-size: 20px;
    border-radius: 15px;
    height: 100%;
}
.bar{
  width: 0%;
}
.barContent{
  text-align: center;
}