window.GAS_PROCESS_GET_API = '*'
window.GAS_DATE_GET_API = '*'
window.GAS_DATE_POST_API = '*'
window.GAS_PROCESS_POST_API = '*'
window.GAS_DATE_GET_BY_ID_API = '*'
window.GAS_CALENDAR_POST_API = '*'
window.GAS_DATE_DELETE_API = '*'
window.GAS_WORKING_TIMES_GET_API = '*'
window.GAS_DATE_PUT_API = '*'
